<nav class="navbar navbar-expand-sm bg-dark navbar-dark row justify-content-center ">
	<div class="container-fluid ">
		<ul class="nav navbar-nav ">
			<li routerLinkActive="active" class="nav-item">
				<a routerLink="homepage" class="nav-link">Page d'acceuil</a>
			</li>
		</ul>
		<ul class="nav navbar-nav ">
			<li routerLinkActive="active" class="nav-item">
				<a routerLink="ListProfile" class="nav-link">Liste de Profils</a>
			</li>
		</ul>
		<ul class="nav navbar-nav ">
			<li routerLinkActive="active" class="nav-item">
				<a routerLink="" class="nav-link">Mon CV</a>
			</li>
		</ul>
		
	</div>
</nav>