.container-fluid{
  max-width: 90%;
  height: 75vh;
  border-right: 3px solid #f0f0f0;
  border-bottom: 3px solid #f0f0f0;
  border-left: 3px solid #f0f0f0;
  box-shadow: 6px 8px 6px -10px gray;
}

img {
    margin-top: 50px;
  max-width: 35%;
}

#connexion{
  margin-top: 50px;
}

a:hover{
  text-decoration: none;
}
