<app-menu></app-menu>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <img class="img-fluid " src="../../assets/images/logo-talan.png"/>
      <h3>Bienvenue sur ma CVThèque</h3>
    </div>
  </div>
  <div class="row" id="connexion">
    <div class="col-12 text-center">
      <button class="btn btn-primary">Accèder à mon CV</button>
    </div>
    <div class="col-6 text-center mx-auto">
      <a routerLink="">Pas encore de compte ? Complétez votre CV en quelques clicks ! </a>
    </div>
  </div>
</div>
