.navbar {
  max-width: 90%;
  margin: auto;
  height: 75px;
  box-shadow: 0 8px 6px -10px gray;
  border-right: 3px solid #f0f0f0;
  border-top: 3px solid #f0f0f0;
  border-left: 3px solid #f0f0f0;
  font-weight: bold;
}




