<nav class="navbar navbar-light bg-light justify-content-between">
  <ul class="nav navbar-nav ">
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/homepage" class="nav-link">Ma CVThèque</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ">
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/ListProfile" class="nav-link">Liste Des CV</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ">
    <li routerLinkActive="active" class="nav-item mr-auto">

      <app-search></app-search>
     
    </li>
  </ul>

</nav>
