<nav class="navbar navbar-light bg-light justify-content-between">
  <ul class="nav navbar-nav ">
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/homepage" class="nav-link">Ma CVThèque</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ">
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/ListProfile" class="nav-link">Liste Des CV</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ">
    <li routerLinkActive="active" class="nav-item mr-auto">
      <form class="form-inline">
        <input class="form-control" type="search" placeholder="Rechercher un profil" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Recherche</button>
      </form>
    </li>
  </ul>

</nav>
