<!--

   ! OUTDATED FILE & COMPONENT!

  this template was used for another website architecture.

-->

<div class="row">
	<div #screen class="col-xs-12">
    <div id="screenId">
      <h2>Prenom : {{ profile?.firstName }}</h2>
      <h3>Nom : {{ profile?.lastName }}</h3>
      <p>Nationalité : {{ profile?.nationality }}</p>
      <p>Date de naissance : {{ profile?.dateOfBirth }}</p>
      <p>Adresse : {{ profile?.address }}</p>
      <p>Code postal : {{ profile?.zip }}</p>
      <p>Numero de téléphone : {{ profile?.phoneNumber }}</p>
      <p>Email : {{ profile?.email }}</p>
      <p> N° profil : {{ profile?.profileId }} </p>
    </div>

		<button class="btn btn-primary" (click)="onBack()">Retour</button>
    <button class="btn btn-warning" (click)="onExport()">Exporter PDF</button>

	</div>
</div>
