<h3>Liste des profiles</h3>

<div class="row">
  <div class="col-4 list-group">
    <div *ngFor="let profile of jsonProfiles._embedded.profiles; let i = index"
        (click)="onViewProfile(i)">
      <div class="list-group shadow bg-white m-1 p-2 border border-secondary rounded">
        <h3 class="list-group-item-heading">
          {{ profile?.firstName }}
        </h3>
        <p >
          {{ profile?.lastName }}
        </p>
      </div>

    </div>
  </div>

  <div class="col-8 shadow bg-white border border-dark">

  </div>
</div>
