<!--Menu-->
<app-menu></app-menu>
<!--App-->
<div class="container-fluid">
  <div class="row">
    <!--Profiles List-->
   <div class="col-md-3 col-sm-4 list-group" id="profiles">
     <!--Scroll-->
     <cdk-virtual-scroll-viewport itemSize="100">
    <li *cdkVirtualFor="let profile of jsonProfiles; let i = index"
         (click)="onViewProfile(i)"
         style="cursor: pointer" class="animate__animated animate__zoomIn">
      <!-- A profile card-->
      <div class="list-group-item p-2" id="profile"  [ngClass]="{activeUser: idProfileSelected === profile.profileId}">
        <div class="row">
          <div class="col-4 my-auto">
            <img src="{{profile?.photoFileName}}" alt=""/>
          </div>
          <div class="col-8">
            <h4 class="list-group-item-heading">
              {{ profile?.firstName }}  {{ profile?.lastName }}
            </h4>
            <p >Titre</p>
          </div>

        </div>

      </div>
    </li>
    <div *ngIf="jsonProfiles?.length == 0"  role="alert">
      Pas de profil trouvé.
    </div>
    </cdk-virtual-scroll-viewport>



  </div>

    <!--Right part : profile selected view-->
    <div class="col-md-9 col-sm-8" id="profile_detail">
    <div *ngIf="isProfileSelected">
      <div id="screenId">
        <h2>Prenom : {{ selectedProfile?.firstName }}</h2>
        <h3>Nom : {{ selectedProfile?.lastName }}</h3>
        <p>Date de naissance : {{ selectedProfile?.dateOfBirth }}</p>
        <p>Adresse : {{ selectedProfile?.address }}</p>
        <p>Code postal : {{ selectedProfile?.zip }}</p>
        <p>Numero de téléphone : {{ selectedProfile?.phoneNumber }}</p>
        <p>Email : {{ selectedProfile?.email }}</p>
        <p> N° profil : {{ selectedProfile?.profileId }} </p>
      </div>
      <!--Export pdf-->
      <button class="btn btn-warning" (click)="onExport()">Exporter PDF</button>
      <button class="btn btn-primary" (click)="generate()">Exporter Word</button>
    </div>
    <!-- When no profile selected, display this-->
    <div *ngIf="!isProfileSelected">
      <h5 class="text-center font-weight-bold font-italic text-muted">Veuillez sélectionner un profil</h5>
    </div>
  </div>
  </div>
</div>

